@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Yeseva+One&display=swap");

/* font-family: 'Caveat', cursive;
font-family: 'Public Sans', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #010001;
  color: #ffffff;
  /* overflow: hidden; */
}

h1 {
  /* font-size: calc(8rem + 1vw); */
  font-size: 10rem;
  text-align: left;
  font-family: "Public Sans", sans-serif;
  line-height: 0.9;
  margin: 1.25rem;
}

h1 span {
  color: #6072d9;
}

h2 {
  /* font-size: calc(2rem + 1vw); */
  font-size: 3rem;
  font-family: "Caveat", cursive;
}

.scroll-more {
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translateX(-10%);
}

.scroll-more h2 {
  margin-right: 1rem;
}

svg {
  align-self: flex-end;
}

a {
  color: #6072d9;
  text-decoration: none;
}

.project-container {
  display: flex;
  margin: 1.5rem 7.5rem 0rem;
  flex-wrap: wrap;
  gap: 4rem 8rem;
}

.project-card {
  border: solid #1e2655 2px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.project-card div:first-child {
  width: 29rem;
  height: 20rem;
}

.project-card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.links {
  display: flex;
  border-top: solid #1e2655 2px;
  justify-content: space-evenly;
  font-size: 1.125rem;
}

.site {
  width: 50%;
  transition: background-color 0.3s ease-in-out;
  padding: 1.5rem 4rem;
}
.site:hover {
  background-color: #ffffff;
}

.design {
  width: 50%;
  transition: background-color 0.3s ease-in-out;
  padding: 1.5rem 3rem;
}
.design:hover {
  background-color: #ffffff;
}

.links svg {
  color: #6072d9;
  transform: translate(2px, 1px);
}

.links a:first-child {
  border-right: solid #1e2655 2px;
}

/* waves */

.waves {
  overflow: hidden;
  position: absolute;
  bottom: -2%;
  z-index: -1;
}

.wave1,
.wave2 {
  position: fixed;
  bottom: -8%;
}

.wave1 {
  animation: animLeft 30s infinite alternate;
}
.wave2 {
  animation: animRight 30s infinite alternate;
}

.top-circle {
  position: absolute;
  margin-top: -26rem;
  top: 0;
  z-index: -1;
  left: -31rem;
  /* opacity: 0.8; */
  backdrop-filter: blur(3px);
  transform: rotate(135deg);
}

@keyframes animLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes animRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

@media screen and (max-width: 1600px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1250px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 955px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 650px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .project-container {
    margin: 1.5rem 0.5rem 0rem;
    gap: 2.5rem 8rem;
  }
}
